.profile__edit-button {    
    position: relative;
    align-self: flex-end;
    display: inline-block;
    border: 1px solid #FFFFFF;
    background-color: #000000;
    background-image: url(./../../../images/profile-stylus.png);
    background-clip: padding-box;
    background-origin: padding-box;
    background-position: center;
    background-size: 10px, auto, cover;
    background-repeat: no-repeat;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: 8px;
    height: 8px;
    padding: 7px;
    font-family: none;
    margin-left: 18px;
}

@media screen and (max-width: 572px) {
    .profile__edit-button {        
        background-size: 7.5px, auto, cover;
        width: 5.5px;
        height: 5.5px;
        padding: 5.25px;
        margin-left: 10px;
    }
}