.page {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #000000;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
    position: relative;
    grid-area: header;
    min-width: 68.75%;
    padding-top: 45px;
    padding-bottom: 40px;
    margin: 0 auto;
    border: 1px solid;
    border-bottom-color: rgba(54, 54, 54, 0.7);
}

.header__logo {
    position: relative;
    background-image: url(./images/header-logo.png);
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 142px;
    height: 33px;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
}