.profile__visitor-name {
    position: relative;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
}
 
/* .profile__visitor-name::after {
    content: "";
    position: relative;
    border: 1px solid #FFFFFF;
    background-color: #000000;
    background-image: url(./../../../images/profile-stylus.png);
    background-clip: padding-box;
    background-origin: padding-box;
    background-position: center;
    background-size: 10px, auto, cover;
    background-repeat: no-repeat;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: 24px;
    height: 24px;
    padding: 7px;
    z-index: 99;
    display: block;
    /* align-self: flex-end;  */
/* }  */ 