.popup__commit {
    margin-top: 48px;
    width: 358px;
    height: 50px;
    background-color: #000000;
    border-radius: 2px;
    color: #ffffff;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 572px) {
    .popup__commit {
        width: 238px;
        height: 46px;
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
    }
}